@import url('https://fonts.googleapis.com/css?family=Raleway Dots:300,400');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/BOOTERFF.woff") format('woff');
    font-weight: normal;
}

*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    /*background-color: whitesmoke;*/
}
html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    padding: 0.7em;
    color: white;
    display: inline-block;
}

.main_nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid grey;
}

.nav a:hover{
background-color:green;             
}

.main_header {
    background-image: url(Images/osman-yunus-bekcan-ZTozyUm9yqE-unsplash.jpg);
    background-size: cover;
    background-color: rgba(133, 108, 108, 0.6);
    background-blend-mode: multiply;
    padding-bottom:1em;
    height: auto;
    border-bottom-style: groove;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.artist-name{
    /*font-family: Courgette;*/
    padding: 1.1em;
    font-family: "BOOTERFF";
    color: gold ;
    font-weight: bold;}

.artist-name-top{
    text-align: center;
    font-size: 30pt;
}

.artist-name-bottom{
    font-size: 20pt; 
    text-align: initial;
}

/*.about{
    font-family: Lato;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}*/

.content-section{
    padding: .5em;
    margin-bottom: auto;
    background-color: black;}
    

.footer{
    background-color:grey;
    color: seashell;
    padding: .25em,o;
    /*margin-top: 2em;*/
}

.section-header{
    font-family: fantasy;
    font-weight: normal;
    color:#333;
    text-align: center;
    font-size: 1.5em;
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 1em;
    float: left;
  }

  /* REMEMBER TO READ ABOUT THE FLEX ELEMENT  PAGE 145 CSS IN DEPTH*/

  .container{
      max-width: 900px;
      margin: 0,auto;
      padding: 0,1.5em;
  }

.main-footer-container{
    display: flex;
    align-items: center;}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer_nav li{padding: 0em 0.5em;

}

.footer_nav img{ 
    width: 30px;
    height: 30px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;}

.header-button{
    margin: .5em 15% 2em 15%;
    color: rgb(228, 88, 88);
    border: 2px solid rgb(98, 98, 107);
    background-color: rgba(182, 209, 211, 0.062);
    border-radius: 0;
    font-size: 0.7em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.header-button:hover{
    background-color: darkgray;
}

.play-button{
    display: block;
    margin: 0, auto;
    color: blue;
    font-size: 2em;
    border-radius: 50%;
    padding: 0;
    /*width: 100px;
    height: 100px;*/
}

.homepage_header{
    background-image: url(Images/1695840.jpg);
    height: 300px;
    background-size: contain;
}
